<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>

<body>
    <%- include("../partials/navbar") %>
    <h1>The site looks even more spectacular now!</h1>
    <%- body %>
</body>

</html>